{% extends "./base.html" %}

{% block search %}
{% endblock %}

{% block details %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"># id</th>
          <th scope="col">Referencia</th>
          <th scope="col">Marca</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>
      {% for equipo in equipos %}
        <tr>
          <th scope="row">{{ equipo.id}}</th>
          <td>{{ equipo.referencia }}</td>
          <td>{{ equipo.marca }}</td>
          <td>{{ equipo.tipo }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% if msg %}
        <h3>{{ msg }}</h3>
    {% endif %}
{% endblock %}

{% block atras %}
    <h4><a href="{% url "equipo" %}"><< Atras</a></h4>
{% endblock %}